#maptitle {
    background-color: #848482;
    vertical-align: middle;
    border-style: solid;
    border-color: #353839;
}

#mapT {
    padding: 12.5px;
    text-align: center;
    margin: 0em;
    color: #E5E4E2;
    font-family:"palatino","bookman";
    font-size: 1.5em;
    text-shadow: 1.5px 1.5px #727472; 
}

.leaflet-popup-content p {
    margin: 0.2em;
}

#mapid {
    height: 700px;
    width: 100%;
    display: inline-block;
    transition: 0.5s;
}

.leaflet-bottom.leaflet-left .legend-control-container.leaflet-control {
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: #848482;
    border-style: solid;
    border-color: #353839;
    margin-bottom: 26px;
}

.sequence-control-container.leaflet-control{
    text-align: center;
    vertical-align: middle;
    background-color: #848482;
    border-style: solid;
    border-color: #353839;
}

#attribute-legend {
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
}

#temporal-legend {
    width: auto;
    height: 30%;
    margin: 4px;
    text-align: center;
    color: #E5E4E2;
    font-family:"palatino","bookman";
    font-size: 1.2em;
    text-shadow: 1.5px 1.5px #727472; 
}

#forward {
    float: right;
    background-color:  #848482;
    border-color: transparent;
}

#forward:hover{
    background-color:#E5E4E2;
}

#reverse {
    float:left;
    background-color:  #848482;
    border-color: transparent;
}

#reverse:hover{
    background-color:#E5E4E2;
}

.range-slider {
    width: 100px;
}

.info {
    background-color: #848482;
    float: right;
    margin-right: 16px;
}

.info:hover {
    background-color:#E5E4E2;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
    z-index: 1000;
}

.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 1);
    line-height: 24px;
    color: #555;
}

.legend text{
    text-align: right;
    font-size: 13px;
    color: #353839;
}

.legend h4{
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #353839;
}

.legend span {
    position: right;
    bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 2px 8px 0 0;
  opacity: 1;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);

}
.sidenav {
    height: 100%;
    width: 0;
    z-index: 1;
    position: fixed;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

#my_dataviz .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
}